<%- include('./layouts/header') %>

<h1 class="title">Role-Based Access Control</h1>

<div class="rbac-container">
  <img
    src="https://img.freepik.com/free-vector/passport-scan-concept-illustration_114360-21562.jpg?t=st=1732282855~exp=1732286455~hmac=2fa8fa2a13ef2932144e574398e420f596939c9ee3e61d35ae15c5423635d8e5&w=740"
    alt="RBAC Illustration"
    class="rbac-image"
  />
  <p class="rbac-message">
    Role-Based Access Control (RBAC) is a method of managing access to resources in a system by assigning permissions
    to roles rather than individual users. In RBAC, users are grouped based on their roles (e.g., admin, editor,
    viewer), and each role is associated with specific permissions that define what actions users can perform or what
    data they can access.
  </p>
</div>
<%- include('./layouts/footer') %>
